{% extends "base.html" %}

{% block content %}
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
                    	<h1>Mis cursos</h1>
                    </div>
					<ul class="list-group">
					{% for object in object_list %}
						<li class="list-group-item">
						<a href="{% url "calificar_lista" pk=object.id_curso_cohorte.id %}">{{ object.id_curso_cohorte  }}</a>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}